@define-color black                 #282c34;
@define-color blacktransparent      rgba(0x28, 0x2c, 0x34, 0.6);
@define-color red                   #e06c75;
@define-color green                 #98c379;
@define-color yellow                #e5c07b;
@define-color blue                  #61afef;
@define-color purple                #c678dd;
@define-color cyan                  #56b6c2;
@define-color white                 #dcdfe4;
@define-color whitetransparent      rgba(0xdc, 0xdf, 0xe4, 0.9);

@define-color icons @cyan;
@define-color background @blacktransparent;
@define-color clock @blue;
@define-color language @purple;

@define-color window @green;
@define-color workspace @white;
@define-color workspaceactive @blue;

@define-color tooltipbackround @whitetransparent;
@define-color tooltipcolor @black;

/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

* {
    font-family: "JetBrainsMono Nerd Font, SemiBold";
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: @background;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
    min-height: 40px;
    font-weight: bold;
    font-size: 17px;
}

#workspaces button {
    color: @workspace;
    transition: all 0.2s ease-in-out;
}

#workspaces button.active {
    color: @workspaceactive;
    font-size: 23px;
    transition: all 0.1s ease-in-out;
}

#workspaces button:hover {
    color: @workspaceactive;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 1px;
    background-color: @tooltipbackround;
    padding: 5px;
    margin: 0px;
}

tooltip label {
    color: @tooltipcolor;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    color: @window;
    font-family: bold;
    font-size: 16px;
}

window#waybar.empty #window {
    background-color: transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */
/*
#taskbar {
    background: @backgroundlight;
    margin: 6px 15px 6px 0px;
    padding: 0px;
    border-radius: 5px;
    font-weight: normal;
    font-style: normal;
    border: 3px solid @backgroundlight;
}

#taskbar button {
    margin: 0;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}
*/
#idle_inhibitor {
    font-size: 18px;
    color: @icons;
}
/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-browser,
#custom-filemanager,
#network,
#pulseaudio,
#battery,
#custom-appmenu,

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
    background-color: @backgrounddark;
    color: @greencolor;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    margin: 2px 20px 0px 0px;
    padding: 0px;
    font-size: 20px;
    color: @icons;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

 #disk,#memory,#cpu {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: @icons;
}

#language {
    color: @language;
    font-size: 25px;
    margin-right: 5px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    font-size: 27px;
    font-style: italic;
    color: @clock;
    padding-right: 10px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    background-color: transparent;
    font-size: 18px;
    color: @icons;
}

#pulseaudio.muted {
    background-color: @backgrounddark;
    color: @icons;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    font-size: 18px;
    color: @icons;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
}

/*
#network.ethernet {
    color: @iconcolor;
}

#network.wifi {
    color: @textcolor2;
}
*/

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

 #bluetooth, #bluetooth.on, #bluetooth.connected {
    background-color: transparent;
    font-size: 18px;
    color: @icons;
}

#bluetooth.off {
    background-color: transparent;
    font-size: 18px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    background-color: @backgroundlight;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 5px;
    margin: 10px 15px 10px 0px;
}

#battery.charging, #battery.plugged {
    color: @textcolor2;
    background-color: @backgroundlight;
}

@keyframes blink {
    to {
        background-color: @backgroundlight;
        color: @textcolor2;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @textcolor3;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    margin: 0px 10px 0px 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @tray;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
    background-color: @white;
}

#backlight {
    background-color: #90b1b1;
}

#network.disconnected {
    background-color: #f53c3c;
}
